# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
.qodo/history.sqlite
android/app/.cxx/Debug/3h1hc2j3/hash_key.txt
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/build.ninja
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/reply/cache-v2-c04f61ae75fcfe47a53b.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-1b56ede30de3af9b661c.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-b676a6c44d04e79265c7.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/.cmake/api/v1/reply/index-2025-02-21T12-04-23-0651.json
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/3h1hc2j3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/build.ninja
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/reply/cache-v2-43487a7647622bffc8cf.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-c9b9bfe01e1ee66c362c.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-5f54b7362c499a8a551b.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/.cmake/api/v1/reply/index-2025-02-21T12-04-23-0870.json
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/3h1hc2j3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/3h1hc2j3/x86/additional_project_files.txt
android/app/.cxx/Debug/3h1hc2j3/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/3h1hc2j3/x86/android_gradle_build.json
android/app/.cxx/Debug/3h1hc2j3/x86/build_file_index.txt
android/app/.cxx/Debug/3h1hc2j3/x86/build.ninja
android/app/.cxx/Debug/3h1hc2j3/x86/cmake_install.cmake
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeCache.txt
android/app/.cxx/Debug/3h1hc2j3/x86/configure_fingerprint.bin
android/app/.cxx/Debug/3h1hc2j3/x86/metadata_generation_command.txt
android/app/.cxx/Debug/3h1hc2j3/x86/prefab_config.json
android/app/.cxx/Debug/3h1hc2j3/x86/symbol_folder_index.txt
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/reply/cache-v2-61c5a4bab485ac6ac66d.json
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/reply/cmakeFiles-v1-2f7cf0a45e51543f8eb4.json
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/reply/codemodel-v2-87e8b4cc1acf69fa2649.json
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/3h1hc2j3/x86/.cmake/api/v1/reply/index-2025-02-21T12-04-24-0142.json
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/3h1hc2j3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/3h1hc2j3/x86_64/additional_project_files.txt
android/app/.cxx/Debug/3h1hc2j3/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/android_gradle_build.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/build_file_index.txt
android/app/.cxx/Debug/3h1hc2j3/x86_64/build.ninja
android/app/.cxx/Debug/3h1hc2j3/x86_64/cmake_install.cmake
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeCache.txt
android/app/.cxx/Debug/3h1hc2j3/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/3h1hc2j3/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/3h1hc2j3/x86_64/prefab_config.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/reply/cache-v2-d1c363a1bb38f7a3280e.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-bc87024bb3cac60f44a8.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/reply/codemodel-v2-9c5dd948d74c3105ab3f.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/.cmake/api/v1/reply/index-2025-02-21T12-04-24-0359.json
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/3h1hc2j3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
